name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        platform: [Win32]
        
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Configure
      run: cmake -B ${{github.workspace}}/build.${{matrix.platform}} -G "Visual Studio 17 2022" -A ${{matrix.platform}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build.${{matrix.platform}} --config ${{env.BUILD_TYPE}}
      
    - name: Test
      working-directory: ${{github.workspace}}/build.${{matrix.platform}}
      run: ctest -C ${{env.BUILD_TYPE}}

    - name: Package
      working-directory: ${{github.workspace}}/build.${{matrix.platform}}
      run: cpack --config CPackConfig.cmake
      
#    - name: Upload Artifact
#      uses: actions/upload-artifact@v3
#      with:
#        path: ${{github.workspace}}/build.${{matrix.platform}}/redumper-*.zip
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: BUILD
        files: ${{github.workspace}}/build.${{matrix.platform}}/redumper-*.zip